.movie {
    width:600px;
    height: 370px;
    margin:1vh auto 5vh auto;
    background-color: white;
    display: flex;
    box-shadow: 5px 5px 5px 5px rgb(181, 181, 181);
}
.movie > img {
    
}
.movie-info {
    overflow: hidden;
    margin:5.5vh;
}
.movie-info > h1{
    margin:0;
}
.movie-info > h1 > a {
    text-decoration: none;
    color:black;
    font-style: italic;
}
.movie-info > ul{
    list-style: none;
    display: flex;
    padding:0
}
.movie-info > ul > li {
    margin-right: 1vh;
    color:rgb(173, 173, 173);
}

.movie-info >  p {
    color:rgb(118, 118, 118)
}
