body {
    background-color:  #e4e4e4;
}

.detail {
    width: 70vw;
    background-color: white;
    margin: 30px auto;
    box-shadow: 5px 5px 5px 5px rgb(181, 181, 181);
    padding:2vh;
}
.detail > h1 {
    margin-top: 0;
    font-style: italic;
}
.detail-wrap {
    display: flex;
}

.detail-img {
}
.detail-img > img {
    width:300px;
}
.detail-info {
    margin: 2vh;
    margin-top:0;
}
.detail-info > ul  {
    list-style: none;
    display: flex;
    padding:0;
}

.detail-info > ul > li {
    margin-right: 1vh;
}