.TodoListItem {
    display: flex;
    height:50px;
    align-items: center;
}

.checkbox {
    display: flex;
    width:100%;
    font-size: 20px;
    margin-left:1vw;
    
    
}
.checked {
    text-decoration:line-through
}
.text {
    margin-left:1vw;
}

.remove {
    font-size: 20px;
    margin-right: 1vw;
}

